<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='icon.png') }}" alt="Logo">
        <p>We are not able to verify your email. Please contact us.</p>
    </div>
</body>
</html>