<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='icon.png') }}" alt="Logo">
        <p>Your password has been successfully reseted. Please continue to the <a href="https://foodprobot.com" class="login-link">login page.</a></p>
    </div>
</body>
</html>