<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='icon.png') }}" alt="Logo">
        <p>Signup with correct email address</p>
        <div class="error-message" id="error-message">Error: Please fill out all fields correctly.</div>
        <div class="wrappero">
            <form id="signup-form">
                <div class="wrap4">
                    <div class="wrap-wrap-wrap">
                        <div class="wrap-wrap">
                            <div class="input-wrap">
                                <input type="email" name="email" placeholder="Email address" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap4">
                    <div class="wrap-wrap-wrap">
                        <div class="wrap-wrap">
                            <div class="input-wrap">
                                <input type="text" name="name" placeholder="Full Name" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap4">
                    <div class="wrap-wrap-wrap">
                        <div class="wrap-wrap">
                            <div class="input-wrap">
                                <input type="password" name="password" placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap4">
                    <div class="wrap-wrap-wrap">
                        <div class="wrap-wrap">
                            <div class="input-wrap">
                                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="SIGN UP">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>