<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Address</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_modules.css') }}">
</head>
<body>
    <div id="response-message">
        <span id="response-text"></span>
        <button id="close-response-message" onclick="closeResponseMessage()">X</button>
    </div>
    <header>
        <h1>Add Address</h1>
    </header>
        <form id="addAddressForm" onsubmit="submitForm(event)">
            <div>
                <label for="file">Upload Xlsx, CSV or Text File:</label>
                <input type="file" id="file" name="file" accept=".csv, .txt, .xlsx">
            </div>
            <div>
                <label for="emails">Or Enter Email Addresses (comma-or-newline-separated):</label>
                <textarea id="emails" name="emails" rows="4" cols="50"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="{{ url_for('admin.allowed_addresses') }}">Back to addresses list</a>
    <script src="{{ url_for('static', filename='js/admin/add_address.js') }}"></script>
</body>
</html>