<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <header>
        <h1>Admin Login</h1>
    </header>
    <main class="login-main">
        <form id="loginForm" class="login-form">
            <label for="email" class="login-label">Email:</label>
            <input type="text" id="email" name="email" class="login-input" required>
            <label for="password" class="login-label">Password:</label>
            <input type="password" id="password" name="password" class="login-input" required>
            <button type="submit" class="login-button">Login</button>
            <div id="responseMessage"></div>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Food chatbot</p>
    </footer>
    <script src="{{ url_for('static', filename='js/admin/login.js') }}"></script>
</body>
</html>